<div class="product-card">
    {% if product.details.image %}
    <img {{product.details.image.get_tag_attributes()}}>
    {% else %}
    <img src="{{ url_for('static', filename='images/products/unknown.jpg') }}" alt="{{ product.name }}">
    {% endif %}
    <h3>{{product.name}}</h3>
    <description>{{product.details.description}}</description>
    <p>
        {%if product.details.original_price%}
        <del class="original-price">
            ${{product.details.original_price or ""}}
        </del>
        <span class="discounted_price">
            {%endif%}
            ${{product.details.price}}
        </span>
    </p>
    <button class="btn">Add to Cart</button>
</div>